<h1>Site Info</h1>

<p>This is the default info for a newly installed dev site. It may need to be adjusted depending on the situation(site transfer, old dev site, etc.).</p>

<p><strong><%= @siteName %></strong></p>
<p><%= @siteIP %><br>
SFTP/SSH login<br>
User: root</p>

<p>File Explorer: <br>
<%= @siteIP %>/pydio<br>
User: admin<br>
Pass: TM3nzJf_3XGwU-5</p>

<p>mysql:<br>
phpMyAdmin: <%= @siteIP %>/pma<br>
user: root<br>
pass: Fgzv0I1WPB</p>

<p>wordpress DB:<br>
wordpress<br>
user: admin<br>
pass: Ttb8IN1LM7</p>

<p>wordpress:<br>
<%= @siteIP %>/wp-admin<br>
user: admin<br>
pass: mmGs49tK+&t&5ny</p>

<p>Our Login:<br>
User: <strong>F</strong>irstname or email<br>
pass: lastname</p>
